@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* NAVBAR */


.navbar,
.header {
  background-color: #1F2937;
}

.nav-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 10px;
}

/* HEADER */

header {
  padding-top: 70px;
  padding-bottom: 60px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.header-button {
  font-size: 18px;
  background-color: #3882F6;
  border-radius: 5px;
  color: #E5E7EB;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
}

.img {
  height: auto;
  width: 450px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 10px;
}

/* SECTION 1*/

.section {
  padding-top: 45px;
  padding-bottom: 80px;
}

.section-container {
  max-width: 1100px;
  margin: 0 auto;
}

.section-info {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.section-item {
  width: 200px;
  height: 200px;
  border: 5px solid #3882F6;
  border-radius: 15px;
}

.items-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.section-item {
  margin: 0 auto;
}

.section-text {
  text-align: center;
}

/* SECTION 2 */
.section-2 {
  padding-top: 90px;
  padding-bottom: 60px;
}


.section-container-2 {
  max-width: 1100px;
  margin: 0 auto;
}

.section-2 {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  
}

.author {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

/* SECTION 3 */
.section-3 {
  padding: 50px;
  padding-bottom: 50px;
}

.section-container-3 {
  max-width: 1100px;
  margin: 0 auto;

}

.card-text {
  font-weight: bold;
  font-size: 18px;
  color: #F9FAF8;
}

.card-sec-text {
  color: #E5E7EB;
}

.card-button {
  font-size: 18px;
  background-color: #3882F6;
  border-radius: 10px;
  color: #E5E7EB;
  font-weight: bold;
  padding: 10px 25px;
  border: 3px solid #ffffff;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  background-color: #3882F6;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background-color: #1F2937; 
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-text {
  color: #E5E7EB;
}
